/* Remove arrow beside "Menu" dropdown */
.no-arrow::after {
  display: none !important;
}

/* for the pointer beside the inside dropdown  */
.custom-dropdown-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-dropdown-ul li {
  padding: 5px 0;
}

/* for the whole menu  */
.dropdown-menu {
  min-width: 230px;
  font-size: small;
  padding: 20px;
  font-size: 14px !important;
  padding: 0 !important;
}

/* Add a border line between each dropdown item */
.dropdown-menu .dropdown-item:not(:last-child) {
  position: relative;
}

.contact-menu{
  font-size: 12px !important;
  margin: 10px 0;
}

.dropdown-menu .dropdown-item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%; /* Adjust percentage for desired width */
  width: 90%; /* Border takes up 90% of the item's width */
  border-bottom: 1px solid #A1A1A1;
}

/* to increase the padding between menu items  */
.dropdown-menu .dropdown-item {
  padding: 10px;
}

/* Remove border for items inside the toggled sections */
.no-border {
  border-bottom: none !important;
  outline: none;
}

body.noScroll {
  overflow: hidden;
}

.nav-property {
  background-color: cadetblue;
  color: white;
  padding: 5px;
}

.nav-box{
  height: 30px !important;
  width: auto !important;
}

.menu-dropdown{
  color: #A1A1A1 !important;
  font-size: 14px !important;
}

.image-rent{
  margin-right: 0 !important;
}

.nav-menu{
  color: rgba(0, 0, 0, 0.729) !important;
  font-size: 13px !important;
}

.drop {
  background-color: rgb(249, 252, 255);
}

.custom-scroll {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
}
