.hero {
  height: 80vh;
  width: 100%;
  background: linear-gradient(180deg, #fff, #e8e8e8);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
}

.top {
  position: relative;
}
.star-icon {
  margin-right: 5px; 
  width: 20px; 
  height: auto;
}

.ownerplan .cards{
  border: unset !important;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 2px;
  height: 20%;
  padding: 0.6rem !important;
  width: 23%;
}
.smt {
  position: relative; 
}

.smt .tooltip-box {
  visibility: hidden; 
  opacity: 0; 
  height: 80px;
  width: 180px;
  position: absolute;
  transform: translateY(80%);
  background-color: #fff; 
  color: #535252; 
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 10px;
  z-index: 10;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.smt:hover .tooltip-box {
  visibility: visible; 
  opacity: 1; 
}

/* Style the indicators */
.carousel-container .carousel-indicators button {
  background-color: #aeaeae !important;
  width: 20px;
  height: 4px;
  border-radius: 10px;
}

.carousel-container .carousel-indicators .active {
  background-color: #004958 !important;
}


.carousel-container .carousel-indicators {
  position: relative;
  bottom: -290px; 
}

/* faq */
.ownerplanFAQ .faq-item {
  border-bottom: 1.5px solid #b1b1b1;
  padding: 20px 0;
}

.ownerplanFAQ .faq-question {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #464646;
  transition: color 0.1s ease;
}

.ownerplanFAQ .faq-question.active {
  color: #004958;
}

.ownerplanFAQ .faq-icon {
  font-size: 1.2rem;
  color: #464949;
  transition: transform 0.3s ease;
}

.ownerplanFAQ .faq-icon.rotate {
  transform: rotate(-45deg);
}

.ownerplanFAQ .faq-answer {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
}

.carousel-container .carousel-inner {
  position: relative;
  width: 100%;
  overflow: visible;
}

